{% extends 'base.html' %}
{% load static %}
{% load humanize  %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ beat.title }}{% endblock title %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="{% static 'assets/detail.css' %}">
<link rel="stylesheet" href="{% static 'assets/audio.css' %}">
<script src="{% static 'assets/audio.js' %}"></script>
{% endblock head %}

{% block body %}
<main class="p-md-5 p-4">
    <img class="img-item" src="{{ beat.image_beat.url }}" alt="{{ beat.title }}">

    <div class="detail  mt-5 mt-md-0">
        <table class="table text-light text-center">
            <tbody>
                <tr>
                    <th id="title-prod" scope="row" colspan="2" class=" {% if beat.is_sold %}text-danger{% endif %}" {% if beat.is_sold %}style="text-decoration:line-through;"{% endif %}>{{ beat.title }}</th>
                </tr>
                <tr>
                    <th class="det" scope="row">{% translate "Beat Id" %}</th>
                    <td class="det"><span class="badge bg-danger">{{ beat.code }}</span></td>
                </tr>
                <tr>
                    <th class="det" scope="row">{% translate "Type" %}</th>
                    <td class="det"><span class="badge bg-secondary">{{ beat.get_type  }}</span></td>
                </tr>
                <tr>
                    <th class="det" scope="row">{% translate "Time" %}</th>
                    <td class="det"><span class="badge bg-secondary">{{ beat.get_time_humanize  }}</span></td>
                </tr>
                
                {% with beat.price as price %}
                    
                    
                <tr>
                    <th class="det" scope="row">{% translate "Price" %}</th>
                    <td class="det"><span class="badge {% if price == 0 %}bg-success{% elif beat.is_sold %}bg-danger{% else %}bg-primary{% endif %}">
                    {% if price == 0 %}
                    {% if LANGUAGE_CODE == 'fa' %}رایگان{% else %}Free{% endif %}
                    {% elif beat.is_sold %}
                        {% if LANGUAGE_CODE == 'fa' %}فروخته شده{% else %}Sold{% endif %}
                    {% else %}
                        {{ price | intcomma }} {% if LANGUAGE_CODE == 'fa' %}ت{% else %}T{% endif %}
                    {% endif %}
                    </span></td>
                </tr>
            </tbody>
        </table>
        {% if not price == 0 %}
            {% if beat.is_sold %}
                <a class="btn btn-dark w-100 disabled">{% translate "Sold" %}</a>
            {% elif settings.stop_seling %}
                <a class="btn btn-dark w-100 disabled">{% translate "Sales are disabled" %}</a>
            {% else %}
                <a href="{% url 'accounts:confirm' %}?beat={{ beat.code }}" class="btn btn-success w-100">{% translate "Buy Full Beat" %}</a>
            {% endif %}
        {% endif %}
        {% endwith %}

    </div>
    <div class="clearfix mb-5"></div>

    <div class="ag-format-container w-100">
        <div class="ag-equlizer">
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
            <div class="js-equlizer_line ag-equlizer_line we"></div>
        </div>
    </div>

    <div class="container-audio w-100">
        <audio id="audio" class="w-100" preload="true" controls>
            <source src="{{ beat.audio_beat.url }}" type="audio/mpeg">
            {% translate "Your browser does not support the audio element." %}
        </audio>
    </div>

</main>
{% endblock body %}