{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "Beats" %}{% endblock title %}

{% block head %}
{% endblock head %}

{% block body %}
<main class="p-3">
    <div class="nav-beat d-md-flex w-100 justify-content-md-between">
        <div>
            <span class="btn border-0 text-light" style="cursor: default;">{% translate "Category" %} : </span>
            <div class="bg-dark bg-opacity-50 p-3 d-flex flex-md-row flex-wrap justify-content-start">
                <a href="{% url 'beat:list' %}" class="btn btn-sm {% if not category_active %}btn-danger{% else %}btn-outline-danger{% endif %} mx-2 p-1">{% translate "All" %}</a>
                {% for category in categories %}
                    <a href="{% if free %}{% url 'beat:category-free' category.slug %}{% else %}{% url 'beat:category' category.slug %}{% endif %}" class="btn btn-sm {% if category_active == category.slug %}btn-danger{% else %}btn-outline-danger{% endif %} mx-2 p-1">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>

        <div>
            <span class="btn border-0 text-light" style="cursor: default;">{% translate "Order By" %} : </span>
            <div class="bg-dark bg-opacity-50 p-3 d-flex flex-row justify-content-end">
                <a href="?order=time" class="btn btn-sm p-1 {% if order == 'time' %}btn-light{% else %}btn-outline-light{% endif %} mx-2">{% translate "Newster" %}</a>
                <a href="?order=view" class="btn btn-sm p-1 {% if order == 'view' %}btn-light{% else %}btn-outline-light{% endif %} mx-2">{% translate "Most View" %}</a>
                <a href="?order=avalible" class="btn btn-sm p-1 {% if order == 'avalible' %}btn-light{% else %}btn-outline-light{% endif %} mx-2">{% translate "Avalable" %}</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-flex flex-wrap justify-content-between">
        
        {% for beat in beats %}
            <a href="{% url 'beat:detail' beat.code %}" >
                <img class="img-item img-item-inl" src="{{ beat.image_beat.url }}" alt="{{ beat.title }}-navid">
                <h2 class="title-item {% if beat.is_sold %}text-danger{% endif %}" {% if beat.is_sold %}style="text-decoration:line-through;"{% endif %}>{{ beat.title }}</h2>
            </a>
        {% endfor %}
            

    </div>
</main>
{% endblock body %}