{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block title %}{% translate "Orders" %}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/user.css' %}">
{% endblock head %}

{% block body %}
<main class="p-3">
    <!-- fill -->

    {% if orders %}
        <div id="table-countiner" class="text-center">
            <table class="table table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">{% translate "Order ID" %}</th>
                        <th scope="col">{% translate "Code Beat" %}</th>
                        <th scope="col">{% translate "Price" %}</th>
                        <th scope="col">{% translate "Satus" %}</th>
                        <th scope="col">{% translate "Action" %}</th>
                    </tr>
                </thead>
                <tbody class="text-light">
                    {% for order in orders %}
                        <tr>
                            <th scope="row"><span class="badge bg-secondary p-2 rounded-5">{{ order.order_code }}</span></th>
                            <td scope="col"><span class="badge bg-danger p-2 rounded-5">{{ order.beat.code }}</span></td>
                            <td scope="col"><span class="badge bg-primary p-2 rounded-5">{{ order.price | intcomma }}</span></td>
                            <td scope="col"><span class="badge bg-{{ order.status_payment.1 }} {% if order.status_payment.1 == 'warning' %} text-dark {% endif %} p-2 rounded-5">{{ order.status_payment.0 }}</span></td>
                            <td scope="col">
                                {% if order.status_payment.0 == 'Paid' %}
                                    <a href="{% url 'accounts:resend' order.order_code %}" class="btn btn-sm w-100 w-m-40 btn-primary">{% translate "ReSend" %}</a>
                                {% elif order.status_payment.0 == 'Waiting' %}
                                    <a href="{{ order.payment.link }}" class="btn btn-sm w-100 w-m-40 btn-primary">{% translate "Pay" %}</a>
                                {%else%%}
                                {% comment %} Not Button {% endcomment %}
                                {% endif %}
                                <a href="{% url 'beat:about' %}#message" class="btn btn-sm w-100 w-m-40 btn-warning">{% translate "Report" %}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <!-- empt -->
    <div id="empty" class="text-center">
        <i class="text-danger fa-solid fa-xmark"></i>
        <p>{% translate "Order Is Empty" %}</p>
    </div>
    {% endif %}

</main>
{% endblock body %}