{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}About Me{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/about.css' %}">
{% endblock head %}

{% block body %}
<main class="p-md-5 ">
    <div class="countiner-about p-md-5 p-2 my-5">
        <p>{{ settings.about }}</p>

        <hr>
        {% if settings.phonenumber %}
        <li><i class="fa-solid fa-phone"></i> <a href="tel:{{ settings.phonenumber }}">{{ settings.phonenumber }}</a></li>
        {% endif %}
        {% if settings.email %}
        <li><i class="fa-solid fa-envelope"></i> <a href="mailto:{{ settings.email }}">{{ settings.email }}</a></li>
        {% endif %}
        {% if settings.instagram %}
        <li><i class="fab fa-instagram"></i> <a href="https://instagram.com/{{ settings.instagram }}">{{ settings.instagram }}</a></li>
        {% endif %}
        {% if settings.linkedin %}
        <li><i class="fab fa-linkedin"></i> <a href="{{ settings.linkedin }}">{{ settings.linkedin }}</a></li>
        {% endif %}
    </div>
    
    {% if request.user.is_authenticated %}
    <div class="countiner-about col-sm-12 col-md-8 col-xl-6 mx-auto p-3">
        <form method="POST">
            <h2>Send Message To me</h2>
            {% crispy form %}
        </form>
    </div>
    {% endif %}
        

</main>
{% endblock body %}