{% extends 'panel/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4"><span class="badge bg-primary bg-gradient" style="font-size:1.5rem">{{ route | upper }}</span></h6>
                <form class="blueForms" method="post">
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}